streamlit==1.44.1
numpy==1.26.4
pandas==2.2.3
h5py==3.12.1
openai==1.76.2
tensorflow==2.16.2
ultralytics==8.3.120
plotly==5.24.1
joblib==1.4.2
scikit-learn==1.5.2
streamlit-autorefresh==1.0.1
streamlit-extras==0.6.0
matplotlib==3.9.2
pillow==10.4.0
pillow-avif-plugin==1.4.6
